<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HARU</key>
	<dict>
		<key>Action</key>
		<dict>
			<key>Mode1</key>
			<string>running</string>
			<key>Mode2</key>
			<string>walking</string>
			<key>Mode3</key>
			<string>staying_still</string>
			<key>Mode4</key>
			<string>going_up_stairs</string>
			<key>Mode5</key>
			<string>going_down_stairs</string>
		</dict>
		<key>Database</key>
		<dict>
			<key>Column</key>
			<dict>
				<key>Timestamp</key>
				<string>Timestamp</string>
				<key>Action</key>
				<string>Action</string>
				<key>X</key>
				<string>X</string>
				<key>Y</key>
				<string>Y</string>
				<key>Z</key>
				<string>Z</string>
				<key>Latitude</key>
				<string>Latitude</string>
				<key>Longtitude</key>
				<string>Longtitude</string>
			</dict>
			<key>Table</key>
			<dict>
				<key>Location</key>
				<string>Location</string>
				<key>Accelerometer</key>
				<string>Accelerometer</string>
			</dict>
		</dict>
		<key>UploadInterval</key>
		<string>600</string>
		<key>Location</key>
		<dict>
			<key>Interval</key>
			<string>1.0</string>
		</dict>
		<key>Accelerometer</key>
		<dict>
			<key>Interval</key>
			<string>1.0/50.0</string>
		</dict>
	</dict>
	<key>AWS</key>
	<dict>
		<key>IdentityPoolId</key>
		<string></string>
		<key>AccessKeyId</key>
		<string></string>
		<key>SecretKey</key>
		<string></string>
	</dict>
</dict>
</plist>
